.card-heading {
    font-weight: 600;
}

.card-container {
    width: 21em;
    margin: 2rem 1rem;
    margin-top: 0;
    padding: 0.625em;
    border-radius: 6px;
    box-shadow: 0 0 10px #000;
    background: linear-gradient(to right, #e1830c, #ff9800);
    font-size: 0.8em;
}

.card-container.omistaja {
    background: linear-gradient(to right, #274dcc, #142c85);
}

.card-container.admin {
    background: linear-gradient(to right, #d90647, #910028);
}

.card-container.operator {
    background: linear-gradient(to right, #cb077d, #900153);
}

.card-container.moderator {
    background: linear-gradient(to right, #a025b2, #72147b);
}

.card-container.builder {
    background: linear-gradient(to right, #a025b2, #72147b);
}

.card-container.kuolematon {
    background: linear-gradient(to right, #ff4a9a, #ff2888);
}

.card {
    color: white;
}

.background {
    text-align: center;
    background: linear-gradient(to right, black, rgb(36, 36, 36));
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

.background.omistaja {
    background: linear-gradient(to right, #2445bd, #2242b8);
}

.background.admin {
    background: linear-gradient(to right, #ca013f, #c5003c);
}

.background.operator {
    background: linear-gradient(to right, #c20075, #bd0071);
}

.background.moderator {
    background: linear-gradient(to right, #991ea8, #951ea3);
}

.background.builder {
    background: linear-gradient(to right, #991ea8, #951ea3);
}

.background.kuolematon {
    background: linear-gradient(to right, #ff61a8, hsl(333, 100%, 60%));
}

.content {
    padding: 0.625em;
    border-bottom-left-radius: 0.625em;
    border-bottom-right-radius: 0.625em;
    min-height: 9em;
    display: flex;
    flex-direction: column;
}

.content.omistaja {
    background: linear-gradient(to right, #253abe, #2345ba);
}

.content.admin {
    background: linear-gradient(to bottom, #c80033, #b70337);
}

.content.operator {
    background: linear-gradient(to bottom, #c2006a, #b00367);
}

.content.moderator {
    background: linear-gradient(to bottom, #9d1c9f, #8d1c97);
}

.content.builder {
    background: linear-gradient(to bottom, #9d1c9f, #8d1c97);
}

.content.kuolematon {
    background: linear-gradient(to bottom, #ff4598, #ff3d94);
}

.name {
    text-align: center;
    font-size: 1.4em;
    padding: 0.625em 0.2em;
    padding-bottom: 0;
    margin-top: -2.1em;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-family: 'Inter';
    letter-spacing: 0.01em;
}

.type {
    display: block;
    background-color: #000;
    padding: 0.44em 0.65em;
    color: white;
    font-size: 0.75em;
    border-radius: 6px;
    text-align: center;
    top: -2em;
    position: relative;
    text-transform: capitalize;
    font-weight: 600;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
    align-self: baseline;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.01);
}

.type.omistaja {
    background-color: #335fff;
}

.type.admin {
    background-color: #ff476c;
}

.type.operator {
    background-color: #dc3588;
}

.type.moderator {
    background-color: #aa2eb8;
}

.type.builder {
    background-color: #aa2eb8;
}

.type.kuolematon {
    background-color: #ff6bae;
}

.strength {
    margin-left: 0.4em;
}

.strength > p {
    font-weight: 300;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    color: #e5e5e5;
}

.strength-bullet {
    font-size: 0.7em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.6em;
    height: 1em;
    width: 1em;
}

.avatar > img {
    max-height: 9em;
    margin: 1.25rem;
}

.footer {
    text-align: center;
    font-size: 0.875em;
    padding: 1.25em;
    min-height: 6.9em;
}

.footer p {
    margin-bottom: 0;
    color: #e8e8e8;
}

@media screen and (max-width: 1000px) {
    .strength > p {
        margin-bottom: 0.2em;
        color: #e5e5e5;
    }
    .strength > p:last-of-type {
        margin-bottom: 0;
    }
    .content {
        min-height: 9.5em;
    }
}
