:root {
    --color-primary: #fed4c7;
    --color-secondary: hsl(36deg 71% 80%);
    --color-link: #feb19a;
    --color-accent: hsl(36deg 89% 86%);
    --color-icon: white;
    --color-nav-link: white;
    --background-primary: #fffdf5;
    --background-secondary: #551502;
    --background-accent: hsl(14deg 98% 19%);
    --gradient-primary: linear-gradient(45deg, #861c0d, hsl(16deg 68% 38%));
    --gradient-secondary: linear-gradient(45deg, hsl(11deg 40% 52%), #c0724e);
    --primary-border-color: rgb(0 0 0 / 11%);
    --secondary-border-color: rgb(0 0 0 / 10%);
}

#__next > div,
body {
    --bg: #bb4e0a;
    --fg: #ec6816;
    --fg-transparent: #294eae54;

    background: var(--bg);
    --size: 55px;

    background-color: #bb4e0a;
    background-image: radial-gradient(circle at center center, #f18215, #bb4e0a),
        repeating-radial-gradient(circle at center center, #f18215, #f18215, 10px, transparent 50px, transparent 25px);
    background-blend-mode: multiply;
}

nav {
    box-shadow: inset -2px -2px 4px 0 rgb(0 0 0 / 6%), 0 4px 2px 0px rgb(0 0 0 / 10%), 0 2px 20px -1px rgb(0 0 0 / 6%);
}

.not-found h1,
.not-found p {
    color: white;
}

.home-hero-main h1,
.home-hero-main p {
    color: white;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    text-stroke: 1px rgba(0, 0, 0, 0.1);
    background: transparent;
}

.home-grid {
    border-radius: 6px;
    gap: 1.2em;
    background: var(--background-accent);
    margin-top: 1em;
}

.home-grid > div {
    padding: 1em;
}

.online {
    color: #4caf50;
}

.server-ip,
.server-address {
    color: #f44336;
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
    background-color: white;
}

.button.changelog,
.button.changelog a {
    color: white;
    text-shadow: 1px 1px 7px rgb(0 0 0 / 20%);
}

.minecraft-citation {
    background-image: url('../public/images/crimson_sign.png');
    color: white;
}

nav {
    background: url('../public/images/blackstone_yellow.png');
    background-size: 85px;
    image-rendering: pixelated;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 6%), 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.nav-link {
    text-shadow: 0 0 30px rgb(0 0 0 / 60%);
}

.home-hero {
    background-size: cover;
    background-position-y: 50%;
}

main:not(.home):not(.lahjoitus):not(.not-found) {
    max-width: 900px;

    margin: 2em;
    margin-bottom: 3.5rem;
    padding: 2.4em;
    padding-top: 0.5em;
    border-radius: 6px;
    background: var(--background-accent);
}

.rank.card a {
    color: #ffffffd9;
}

body {
    background-color: var(--bg);
}

.lahjoitusdokumentti {
    background-color: var(--background-secondary);
    border-color: #7b2106;
}
.lahjoitusdokumentti p,
.lahjoitusdokumentti table {
    color: var(--color-link);
}

.dropdown-menu {
    background-color: hsl(14deg 98% 3%);
}

.dropdown-menu h4 {
    color: var(--color-secondary);
}

.dropdown-item {
    color: #d7c6c3;
}

.dropdown-item .icon {
    color: var(--color-accent);
}

.ip-to-clipboard {
    color: var(--color-primary);
}

.recipe {
    background: var(--gradient-secondary);
    padding: 1.2em;
}

.recipe figcaption {
    font-weight: 500;
    text-align: justify;
}

.rank-card-body {
    background: #230900;
    border: 2px solid;
}

.c-eloton {
    border-color: var(--c-eloton);
}
.c-eloton,
.c-eloton span,
.c-eloton .icon,
.c-eloton h3,
.c-eloton p,
.c-eloton tbody {
    color: var(--c-eloton) !important;
}

.c-raihnas {
    border-color: var(--c-raihnas);
}

.c-raihnas,
.c-raihnas .icon,
.c-raihnas span,
.c-raihnas h3,
.c-raihnas p,
.c-raihnas tbody {
    color: var(--c-raihnas) !important;
}

.c-sisukas {
    border-color: var(--c-sisukas);
}

.c-sisukas,
.c-sisukas span,
.c-sisukas .icon,
.c-sisukas h3,
.c-sisukas p,
.c-sisukas tbody {
    color: var(--c-sisukas) !important;
}

.c-parantuva {
    border-color: var(--c-parantuva);
}

.c-parantuva,
.c-parantuva span,
.c-parantuva .icon,
.c-parantuva h3,
.c-parantuva p,
.c-parantuva tbody {
    color: var(--c-parantuva) !important;
}

.c-immuuni {
    border-color: var(--c-immuuni);
}

.c-immuuni,
.c-immuuni span,
.c-immuuni .icon,
.c-immuuni h3,
.c-immuuni p,
.c-immuuni tbody {
    color: var(--c-immuuni) !important;
}

.c-parantaja {
    border-color: var(--c-parantaja);
}

.c-parantaja,
.c-parantaja span,
.c-parantaja .icon,
.c-parantaja h3,
.c-parantaja p,
.c-parantaja tbody {
    color: var(--c-parantaja) !important;
}

.c-nekromantikko {
    border-color: var(--c-nekromantikko);
}

.c-nekromantikko,
.c-nekromantikko span,
.c-nekromantikko .icon,
.c-nekromantikko h3,
.c-nekromantikko p,
.c-nekromantikko tbody {
    color: var(--c-nekromantikko) !important;
}

.c-kuolematon {
    border-color: var(--c-kuolematon);
}

.c-kuolematon,
.c-kuolematon span,
.c-kuolematon .icon,
.c-kuolematon h3,
.c-kuolematon p,
.c-kuolematon tbody {
    color: var(--c-kuolematon) !important;
}

@media screen and (max-width: 900px) {
    .home-grid > div,
    main:not(.home):not(.lahjoitus) {
        border-radius: 0;
        margin-top: 0;
    }

    .main-heading {
        margin-top: 1rem;
        margin-bottom: 3.3rem;
    }
}

@media screen and (max-width: 700px) {
    main:not(.home):not(.lahjoitus) {
        padding: 1.2em;
    }
}
