:root {
    --color-primary: hsl(220deg 100% 5%);
    --color-secondary: hsl(220deg 100% 20%);
    --color-link: hsl(220deg 100% 61%);
    --color-accent: #3c71dd;
    --color-icon: white;
    --color-nav-link: white;
    --background-primary: #ffffff;
    --background-secondary: hsl(218deg 100% 93%);
    --background-accent: #e5edff;
    --gradient-primary: linear-gradient(45deg, rgb(39 107 255), hsl(221deg 100% 50%));
    --gradient-secondary: linear-gradient(45deg, hsl(220deg 47% 75%), hsl(220deg 73% 76%));

    --primary-border-color: rgb(0 0 0 / 11%);
    --secondary-border-color: rgb(0 0 0 / 10%);
}

#__next > div,
body {
    --bg: var(--background-primary);
    --fg: var(--background-secondary);
    --fg-transparent: #294eae54;

    background: var(--bg);
    background-color: var(--bg);

    background-image: linear-gradient(135deg, var(--fg) 25%, transparent 25%),
        linear-gradient(225deg, var(--fg) 25%, transparent 25%), linear-gradient(45deg, var(--fg) 25%, transparent 25%),
        linear-gradient(315deg, var(--fg) 25%, var(--bg) 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
}

nav {
    box-shadow: inset -2px -2px 4px 0 rgb(0 0 0 / 6%), 0 4px 2px 0px rgb(0 0 0 / 10%), 0 2px 20px -1px rgb(0 0 0 / 6%);
}

.home-hero-main h1,
.home-hero-main p {
    color: white;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    text-stroke: 1px rgba(0, 0, 0, 0.1);
    background: transparent;
}

.home-grid {
    border-radius: 6px;
    gap: 1.2em;
    background: white;
    margin-top: 1em;
}

.home-grid > div {
    padding: 1em;
}

.online {
    color: #4caf50;
}

.server-ip,
.server-address {
    color: #f44336;
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
    background-color: white;
}

.button.changelog,
.button.changelog a {
    color: white;
    text-shadow: 1px 1px 7px rgb(0 0 0 / 20%);
}

footer {
    background: var(--background-primary);
}

.minecraft-citation {
    background-image: url('../public/images/white_sign.png');
    color: black;
}

nav {
    background: url('../public/images/snowblocklongwhite.png');
    background-size: 85px;
    image-rendering: pixelated;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 6%), 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.nav-link {
    text-shadow: 0 0 13px rgb(0 0 0 / 90%);
}

.home-hero {
    background-position-y: 50%;
    background: url(../public/images/joulu21.jpg) 40% 10%;
    background-size: cover;
}

main:not(.home):not(.lahjoitus):not(.not-found) {
    max-width: 900px;

    margin: 2em;
    margin-bottom: 3.5rem;
    padding: 2.4em;
    padding-top: 0.5em;
    border-radius: 6px;
    background: var(--background-accent);
}

.rank.card a {
    color: #ffffffd9;
}

/* main.home {
    padding: 0 !important;
    border-radius: 0 !important;
} */

body {
    background-color: var(--bg);
}


.lahjoitusdokumentti {
    background-color: var(--background-secondary);
    border-color: #7b2106;
}
.lahjoitusdokumentti p,
.lahjoitusdokumentti table {
    color: var(--color-link);
}

.dropdown-menu h4 {
    color: var(--color-secondary);
}

.dropdown-item {
    color: var(--color-primary);
}

.dropdown-item .icon {
    color: var(--color-accent);
}

.ip-to-clipboard {
    color: var(--color-icon);
}

.recipe {
    background: var(--gradient-secondary);
    padding: 1.2em;
}

.recipe figcaption {
    font-weight: 500;
    text-align: justify;
}

@media screen and (max-width: 900px) {
    .home-grid > div,
    main:not(.home):not(.lahjoitus) {
        border-radius: 0;
        margin-top: 0;
    }

    .main-heading {
        margin-top: 1rem;
        margin-bottom: 3.3rem;
    }
}

@media screen and (max-width: 700px) {
    main:not(.home):not(.lahjoitus) {
        padding: 1.2em;
    }
}
