@font-face {
  font-family: Minecraftia;
  src: url(/../assets/fonts/Minecraftia.woff2);
  font-display: font-swap;
}

#HappyFlappyYp {
  margin: 0;
  overflow: hidden;
  z-index: 0;
  display: flex;
  flex-direction: column;
  font-family: Minecraftia, sans-serif !important;
  position: relative;
  flex: 1;
}

.jome {
  height: 120px;
  width: 120px;
  background-image: url("../images/jome.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  image-rendering: pixelated;
  position: absolute;
  transform: rotate(120deg);
  transition: transform 0.4s;
  left: 150px;
  top: 400px;
  z-index: 1;
}

.up {
  transform: rotate(60deg);
}

.down {
  transform: rotate(180deg);
}

.pipe-parent {
  width: 100px;
  height: 100%;
  position: absolute;
  animation: pipeMovement 6s linear;
  display: flex;
  flex-direction: column;
  z-index: 2;
  pointer-events: none;
}

.pipe {
  width: 100%;
  height: 300px;
  background-image: url("../images/dirt.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}

.upper {
  margin-bottom: 220px;
}

.lower {
  flex: 1;
}

#game {
  position: relative;
  height: 700px;
  max-height: 80vh;
  background: blue;
  z-index: 1;
  background-image: url("../images/stone.jpg");
  background-repeat: repeat;
  background-size: 100px;
  animation: animatedBackground 170s linear infinite;
}

.score {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  font-size: 3em;
  z-index: 5;
}

.end-screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  text-shadow: 2px 2px #000;
  font-size: 2em;
  z-index: 6;
}

.ground {
  background-color: burlywood;
  background-image: url("../images/grassblocklong.png");
  background-repeat: repeat-x;
  background-size: 90px;
  image-rendering: pixelated;
  z-index: 2;
  position: relative;
  animation: animatedBackground 52s linear infinite;
  flex: 1;
}

.starting-screen {
  height: 100%;
  position: absolute;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.starting-screen h1 {
  color: white !important;
  font-family: Minecraftia, sans-serif !important;
  text-shadow: 2px 2px #000;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: center;
}

.starting-screen button {
  margin-bottom: 0.3em;
  width: 200px;
}

.character-menu {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  position: absolute;
  z-index: 3;
  width: 100%;
  justify-content: space-around;
}

.character-type {
  display: flex;
  flex-direction: column;
  margin: 0 0.6em;
  margin-top: 0.5em;
}

.characters {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0.5em;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
  padding: 0.3em;
  border-radius: 3px;
  margin: 3px;
}

.character img {
  height: 200px;
  image-rendering: pixelated;
  margin-bottom: 0.5em;
}

.character:hover img {
  transform: scale(1.05);
  filter: drop-shadow(2px 4px 6px black);
}

.type-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-head > span {
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: 0.1px;
  color: #fff !important;
  text-shadow: 2px 2px #000;
  text-transform: capitalize;
}

@keyframes pipeMovement {
  from {
    left: 100%;
  }
  to {
    left: -20%;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0;
  }
}

@media screen and (max-width: 500px) {
  .pipe-parent {
    width: 50px;
  }
}
